#jumbo {
   background-color: rgb(31, 31, 204);
    width: 500px;
    height: 500px;
    padding: 50px 0px 0px 0px;
    position: relative;
    left: 15px;
   bottom: -20px;
    z-index: 1;
    opacity: 80%;
    color: white;
   
}


html {
    background: url(./assets/magic-tree.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#container {
    
background-image: url(assets/pattern.png);
position: relative;
width: 550px;
height: 540px;
left: -700px;
top: 10px;
     
}